:root {
  /* Colors */
  --grey1: hsl(50, 20%, 99%);
  --grey2: hsl(60, 7.7%, 97.5%);
  --grey3: hsl(59, 6.5%, 95.1%);
  --grey4: hsl(58, 6.1%, 92.9%);
  --grey5: hsl(57, 6%, 90.7%);
  --grey6: hsl(56, 5.9%, 88.4%);
  --grey7: hsl(55, 5.9%, 85.2%);
  --grey8: hsl(51, 6%, 77.1%);
  --grey9: hsl(50, 2%, 55.7%);
  --grey10: hsl(55, 1.7%, 51.9%);
  --grey11: hsl(50, 2%, 43.1%);
  --grey12: hsl(50, 6%, 10%);
  --greyA1: hsla(60, 89.3%, 18.3%, 0.012);
  --greyA2: hsla(60, 78.1%, 9%, 0.028);
  --greyA3: hsla(60, 99%, 3.9%, 0.051);
  --greyA4: hsla(60, 88.9%, 5.9%, 0.075);
  --greyA5: hsla(60, 86%, 6.9%, 0.099);
  --greyA6: hsla(60, 93.2%, 5.2%, 0.122);
  --greyA7: hsla(60, 98.3%, 5.1%, 0.157);
  --greyA8: hsla(51, 94.1%, 6%, 0.244);
  --greyA9: hsla(60, 99.8%, 1.7%, 0.451);
  --greyA10: hsla(60, 90.7%, 1.8%, 0.491);
  --greyA11: hsla(45, 93.7%, 1.5%, 0.577);
  --greyA12: hsla(60, 98%, 0.7%, 0.906);
  /* Typography */
  --text-large: 1rem;
  --text-medium: 0.9rem;
  --text-small: 0.8rem;
  /* Spacing */
  --gap-x-small: 4px;
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-large: 32px;
  /* Shadows */
  --shadow-color: 60deg 5% 68%;
  --shadow-elevation-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.29),
    0px 0.4px 0.5px -1.2px hsl(var(--shadow-color) / 0.29),
    0px 1px 1.1px -2.5px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.31),
    0px 0.9px 1px -0.8px hsl(var(--shadow-color) / 0.31),
    0px 2.1px 2.4px -1.7px hsl(var(--shadow-color) / 0.31),
    -0.1px 5.1px 5.7px -2.5px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-high: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.28),
    0px 1.4px 1.6px -0.4px hsl(var(--shadow-color) / 0.28),
    0px 2.6px 2.9px -0.7px hsl(var(--shadow-color) / 0.28),
    -0.1px 4.2px 4.7px -1.1px hsl(var(--shadow-color) / 0.28),
    -0.1px 6.7px 7.5px -1.4px hsl(var(--shadow-color) / 0.28),
    -0.1px 10.5px 11.8px -1.8px hsl(var(--shadow-color) / 0.28),
    -0.2px 16px 18px -2.1px hsl(var(--shadow-color) / 0.28),
    -0.3px 23.5px 26.4px -2.5px hsl(var(--shadow-color) / 0.28);
}

@media (prefers-color-scheme: dark) {
  :root {
    --grey1: hsl(61, 2%, 8.3%);
    --grey2: hsl(60, 3.7%, 10.6%);
    --grey3: hsl(58, 3.7%, 13.1%);
    --grey4: hsl(57, 3.6%, 15.3%);
    --grey5: hsl(56, 3.7%, 17.4%);
    --grey6: hsl(55, 3.7%, 19.9%);
    --grey7: hsl(53, 3.7%, 23.6%);
    --grey8: hsl(50, 3.8%, 30.6%);
    --grey9: hsl(50, 4%, 42.7%);
    --grey10: hsl(52, 3.1%, 48.3%);
    --grey11: hsl(50, 4%, 61.8%);
    --grey12: hsl(56, 4%, 92.8%);
    --greyA1: hsla(0, 0%, 0%, 0);
    --greyA2: hsla(60, 89.8%, 91.4%, 0.026);
    --greyA3: hsla(60, 95.5%, 92.5%, 0.056);
    --greyA4: hsla(60, 75.6%, 96.4%, 0.078);
    --greyA5: hsla(60, 81.9%, 95.2%, 0.104);
    --greyA6: hsla(41, 87.6%, 94.8%, 0.134);
    --greyA7: hsla(60, 95.4%, 96.2%, 0.172);
    --greyA8: hsla(49, 93.5%, 95.7%, 0.254);
    --greyA9: hsla(52, 97.3%, 96.2%, 0.391);
    --greyA10: hsla(52, 97.8%, 96.7%, 0.451);
    --greyA11: hsla(51, 97%, 97.8%, 0.597);
    --greyA12: hsla(60, 88.7%, 99.8%, 0.923);
    --shadow-color: 60deg 5% 2%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--grey12);
  background: linear-gradient(to bottom, transparent, var(--grey1)) var(--grey1);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

h1 {
  font-size: var(--text-large);
  font-weight: 500;
}

p {
  font-size: var(--text-medium);
}

[cmdk-root] {
  border: 0.5px solid var(--grey7);
  border-radius: var(--gap-small);
  background: linear-gradient(to bottom, var(--grey1), var(--grey2));
  box-shadow: inset 0 0 2px 2px white, var(--shadow-elevation-high);
}

[cmdk-list] {
  padding: var(--gap-small);
  height: min(400px, calc(var(--cmdk-list-height) + var(--gap-medium)));
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  transition: 100ms ease;
  transition-property: height;
}

[cmdk-input] {
  width: 100%;
  font-size: var(--text-medium);
  padding: 0.25rem;
  padding: var(--gap-medium);
  border: none;
  border-bottom: 1px solid var(--grey7);
  border-top-right-radius: var(--gap-small);
  border-top-left-radius: var(--gap-small);
  background: none;
}

[cmdk-input]:focus-visible {
  outline: none;
  caret-color: var(--grey12);
}

[cmdk-item] {
  font-size: var(--text-small);
  font-weight: 500;
  padding: var(--gap-small);
  color: var(--grey12);
}

[cmdk-empty],
[cmdk-loading] {
  font-size: var(--text-small);
  color: var(--grey11);
  padding: var(--gap-small);
}

[aria-selected="true"] {
  background: var(--grey4);
  border-radius: var(--gap-x-small);
}

[cmdk-group-heading] {
  font-size: var(--text-small);
  font-weight: 400;
  color: var(--grey11);
  padding: var(--gap-small) var(--gap-small);
}
